@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Roboto", sans-serif ;
    line-height: 1.2;
    color: #333;
    background-color:#e0ffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#f0f8ff;
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    
}

header h1 {
    font-size: 1.9rem;
    font-weight: 800;
    letter-spacing: 1px;

}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    
}

nav a {
    color: #f0f8ff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

main {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1500px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    nav ul {
        margin-top: 1rem;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    header h1 {
        font-size: 1.9rem;
    }

    main {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    nav a {
        display: block;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.1);
        padding: 0.5rem;
    }
}